header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
}
img {
  width: 450px;
  height: 330px;
}
input {
  height: 28px;
  position: relative;
  top: -13%;
  border-radius: 10px;
}
.search-bar {
  display: flex;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 10px;
}
.info {
  display: flex;
  gap: 5px;
  justify-content: center;
}
body {
  font-family: Lucida Sans;
  font-size: smaller;
  justify-content: center;
  margin-left: 30px;
  background-color: aquamarine;
}
